<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Book Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>

	<div class="container my-2">
	<h1>Books List</h1>
	
	<a th:href = "@{/searchBookName}" class="btn btn-primary btn-sm mb-3"> Add Book </a>
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/pageBook/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
							Book  Name</a>
					</th>
					<th>
						<a th:href="@{'/pageBook/' + ${currentPage} + '?sortField=subname&sortDir=' + ${reverseSortDir}}">
							Book  Subname</a>
					</th>
					<th>
						<a th:href="@{'/pageBook/' + ${currentPage} + '?sortField=serialName&sortDir=' + ${reverseSortDir}}">
							Book  Serial Name</a>
					</th>
					<th>
						<a th:href="@{'/pageBook/' + ${currentPage} + '?sortField=isbn&sortDir=' + ${reverseSortDir}}">
							Book  Isbn</a>
					</th>
					<th>
					<a th:href="@{'/pageBook/' + ${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}}">
							Book Description</a>
					</th>
					<th>
						<a th:href="@{'/pageBook/' + ${currentPage} + '?sortField=authorName&sortDir=' + ${reverseSortDir}}">
							Book  Author Name</a>
					</th>
					<th>
					<a th:href="@{'/pageBook/' + ${currentPage} + '?sortField=publishingHouseName&sortDir=' + ${reverseSortDir}}">
							Book Publishing House Name</a>
					</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book : ${listBooks}">
					<td th:text="${book.name}"></td>
					<td th:text="${book.subname}"></td>
					<td th:text="${book.serialName}"></td>
					<td th:text="${book.isbn}"></td>
					<td th:text="${book.description}"></td>					
					<td th:text="${book.authorName}"></td>
					<td th:text="${book.publishingHouseName}"></td>
					<td> <a th:href="@{/showFormForUpdateBook/{id}(id=${book.id})}" class="btn btn-primary">Update</a>
					    <a th:href="@{/deleteBook/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/pageBook/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/pageBook/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/pageBook/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
</body>
</html>